img{
    vertical-align: middle;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a{
    color:#757575!important;
    cursor: pointer;
    text-decoration: underline;
}
a:hover{
    color:#757575!important;
    cursor: pointer;
}
.display-container{
    position: relative;
    background: #FFF;
    color:#757575;
    font-family: "Roboto", sans-serif;
    font-size: 15px;;
    
}
.user-detail-container{
    padding: 0.01em 5px;
    line-height:1.5;
}
.icon{
    height:20px;
    width:20px;
    float:left;
    background-size: cover;
    margin-right:10px;
}
.user-icon{
    background-image: url('/assets/img/user.png');
}
.location-icon{
    background-image: url('/assets/img/location.png');
}
