<div class="body-part">
  <div class="header">
    <div class="form-loader">
      <form [formGroup]="profileForm">
        <input #InputTypeHead formControlName="username" [typeahead]="searchedUserList"
          [typeaheadIsFirstItemActive]="false" [isAnimated]="true" placeholder="Search Name"
          (typeaheadOnSelect)="onSubmit()" (keyup.enter)="onSubmit()" class="custom-input">
        <input type="button" (click)="onSubmit()" [disabled]="profileForm.invalid" value="search">
      </form>
    </div>
  </div>
  <div>
    <div class="row-padding">
      <div class="container con-1">
        <div class="card">
          <app-user-profile [userProfileData]=userProfileData></app-user-profile>
        </div>
      </div>
      <div class="container con-2">
        <div class="card">
          <app-user-detail [userGitRepoData]=userGitRepoData></app-user-detail>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>