
.custom-input{
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    padding: 10px;
    margin: 0;
    width: 75%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    border-bottom:1px solid #757575;
    max-width: 70%;;
    margin-right:10px;
    font-size:15px;
}
input[type="button"] {
    transition-duration: 0.4s;
    background-color: #555555;
    color:#FFF;
    border-radius: 10px;
    padding: 5px 15px;
    border: 1px solid #555;
    cursor:pointer;
}
input[type="button"]:focus {
    outline: none;
}
input[type="button"]:disabled {
    background: #dddddd;
}
.row-padding{
    padding: 0px;
    display: block;
    background-color: #FFF !important;
}
.container{
    box-sizing: border-box;
    display:inline-block;
    vertical-align: top;;
    padding:0px;
}
.con-1{
    width:30%;
    background-color: #F5F5F5 !important;
}
.con-2{
    width:70%;
    
}
.card-container{
    padding:10px;
    border:none;
    border-radius:0px;
}
.search-div{
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: #FFF !important;
}
.profile-div{
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: #FFF !important;
}
.recent-search-div{
    margin-bottom: 15px;
    height:300px;
    padding: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    overflow:auto;
    background-color: #FFF !important;
}

